
<aside class="sidebar">
            <div class="sidebar-logo">
                <img src="~/images/82cb2669b39c7ae0fe1d18507ed7c609168a2ad3.png" alt="Logo VLU">
            </div>
            <ul class="menu">

                <li class="menu-item">
                    <div class="menu-link"> <span><i class="fa-solid fa-layer-group"></i> Đợt đồ án</span>
                        <i class="fa-solid fa-chevron-right chevron"></i>
                    </div>
                    <ul class="submenu"> 
                        <li>
                            <a asp-area="BCNKhoa" asp-controller="QuanlyDotDoAn" asp-action="Index">Quản lý đợt đồ án</a>
                        </li>
                        <li>
                            <a asp-area="BCNKhoa" asp-controller="QuanLyDangKy" asp-action="Index">Danh sách đăng ký</a>
                        </li>
                        <li>
                            <a asp-area="BCNKhoa" asp-controller="QuanLyDeTai" asp-action="Index">Danh sách đề tài</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-link">
                        <span><i class="fa-solid fa-users"></i> Hội đồng</span>
                        <i class="fa-solid fa-chevron-right chevron"></i>
                    </div>
                    <ul class="submenu">
                        <li>
                            <a asp-area="BCNKhoa" asp-controller="QuanLyHoiDongDuyetDetai" asp-action="Index">Duyệt đề tài</a>
                        </li>
                        <li>
                            <a asp-area="BCNKhoa" asp-controller="QuanLyHoiDongBaoCao" asp-action="Index">Báo cáo hội đồng</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <div class="menu-link">
                        <span><i class="fa-solid fa-list"></i> Danh mục</span>
                        <i class="fa-solid fa-chevron-right chevron"></i>
                    </div>
                    <ul class="submenu">                
                        <li>
                            <a asp-area="BCNKhoa" asp-controller="QuanLyNganh" asp-action="Index">Ngành</a>
                        </li>
                        <li>
                            <a asp-area="BCNKhoa" asp-controller="QuanLyBoMon" asp-action="Index">Bộ môn</a>
                        </li>
                        <li>
                            <a asp-area="BCNKhoa" asp-controller="QuanLyChuyenNganh" asp-action="Index">Chuyên ngành</a>
                        </li>
                        <li>
                            <a asp-area="BCNKhoa" asp-controller="QuanLyHocKi" asp-action="Index">Học kì</a>
                        </li>
                        <li>
                            <a asp-area="BCNKhoa" asp-controller="QuanLyKhoa" asp-action="Index">Khóa</a>
                        </li>
                    </ul>
                </li>
                
                <li class="menu-item">
                    <div class="menu-link">
                        <span><i class="fa-solid fa-list"></i> Chương trình</span>
                        <i class="fa-solid fa-chevron-right chevron"></i>
                    </div>
                    <ul class="submenu">
                        <li>
                            <a asp-area="BCNKhoa" asp-controller="QuanLyCTDT" asp-action="Index">Chương trình đào tạo</a>
                        </li>
                        <li><a href="QL_Khoa.html">Import điểm</a></li>
                    </ul>
                </li>

                <li class="menu-item">
                    <a asp-area="BCNKhoa" asp-controller="QuanLyNguoiDung" asp-action="Index" class="menu-link">
                        <span><i class="fa-solid fa-user-gear"></i>Người dùng</span>
                    </a>
                </li>
                <li class="menu-item">
                    <div class="menu-link">
                        <span><i class="fa-solid fa-gear"></i> Cấu hình</span>
                        <i class="fa-solid fa-chevron-right chevron"></i>
                    </div>
                    <ul class="submenu">
                        <li><a href="CH_MAIL.html">Thông báo</a></li>
                        <li><a href="TC.html">Tiêu chí</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="BCTK.html" class="menu-link">
                        <span><i class="fa-solid fa-chart-pie"></i> Báo cáo và thống kê</span>
                    </a>
                </li>
            </ul>
</aside>