<aside class="sidebar">
    <div class="sidebar-logo">
        <img src="~/images/82cb2669b39c7ae0fe1d18507ed7c609168a2ad3.png" alt="Logo VLU">
    </div>
    <ul class="menu">

        <li class="menu-item">
            <div class="menu-link active-parent">
                <span><i class="fa-solid fa-layer-group"></i> Đợt đồ án</span>
                <i class="fa-solid fa-chevron-right chevron"></i>
            </div>
            <ul class="submenu open">
                <li>
                    <a asp-area="SinhVien"
                       asp-controller="DangKyNguyenVong"
                       asp-action="Index"
                       class="menu-link">Đăng ký nguyện vọng</a>
                </li>
                <li>
                    <a asp-area="SinhVien"
                       asp-controller="DangKyDeTai"
                       asp-action="Index"
                       class="menu-link">Đăng ký đề tài</a>
                </li>
                <li>
                    <a asp-area="SinhVien"
                       asp-controller="DeXuatDeTai"
                       asp-action="Index"
                       class="menu-link">Đề tài đề xuất</a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <div class="menu-link">
                <span><i class="fa-solid fa-users"></i> Đề tài</span>
                <i class="fa-solid fa-chevron-right chevron"></i>
            </div>
            <ul class="submenu">
                <li><a href="HD_DT.html">Bảng kế hoạch</a></li>
                <li><a href="HD_BC.html">Nhật ký hướng dẫn</a></li>
                <li><a href="HD_BC.html">Báo cáo</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <a asp-area="Giangvien"
               asp-controller="DGKQHT"
               asp-action="DS_DGKQHT"
               class="menu-link">
                <span><i class="fa-solid fa-clipboard-check"></i> Xem kết quả đánh giá</span>
            </a>
        </li>
    </ul>
</aside>