
<aside class="sidebar">
    <div class="sidebar-logo">
        <img src="~/images/82cb2669b39c7ae0fe1d18507ed7c609168a2ad3.png" alt="Logo VLU">
    </div>
    <ul class="menu">

        <li class="menu-item">
            <div class="menu-link active-parent">
                <span><i class="fa-solid fa-layer-group"></i> Đợt đồ án</span>
                <i class="fa-solid fa-chevron-right chevron"></i>
            </div>
            <ul class="submenu open">
                <li>
                    <a asp-area="GiangVien"
                       asp-controller="DeXuatDeTai"
                       asp-action="Index">
                        Đề xuất đề tài
                    </a>
                </li>
                <li>
                    <a asp-area="GiangVien"
                       asp-controller="QuanLyDangKyDeTai"
                       asp-action="Index">
                        Duyệt sinh viên đăng ký
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <div class="menu-link">
                <span><i class="fa-solid fa-users"></i> Quản lý sinh viên</span>
                <i class="fa-solid fa-chevron-right chevron"></i>
            </div>
            <ul class="submenu">
                <li>
                    <a asp-area="GiangVien"
                       asp-controller="QuanLySinhVien"
                       asp-action="Index">
                        Danh sách sinh viên
                    </a>
                </li>
                <li>
                    <a asp-area="GiangVien"
                       asp-controller="BangKeHoachSinhVien"
                       asp-action="Index">
                        Bảng kế hoạch sinh viên
                    </a>
                </li>
                <li>
                    <a asp-area="GiangVien"
                       asp-controller="QuanLyNhatKyHuongDan"
                       asp-action="Index">
                        Nhật ký hướng dẫn
                    </a>
                </li>
                <li>
                    <a asp-area="GiangVien"
                       asp-controller="QuanLyNopBaoCao"
                       asp-action="Index">
                        Nộp báo cáo
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-item">
            <a asp-area="GiangVien"
               asp-controller="DanhGiaketQua"
               asp-action="Index"
               class="menu-link">
                <span><i class="fa-solid fa-clipboard-check"></i> Đánh giá kết quả đề tài</span>
            </a>
        </li>

    </ul>
</aside>